body {
  font-family: "Arita-dotum-Medium";
  color: #333;
  scroll-behavior: smooth;
  height: 100vh;
}

/* 메인 슬라이드 */

.main {
  margin-bottom: 60px;
}

.swiper1 {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slide_img {
  width: 100%;
  overflow: hidden;
}

.slide_img img {
  width: 100%;
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  color: #333 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #333;
}
/* 이달의 */

.product_toggle {
  margin-bottom: 100px;
}

.product_toggle h2 {
  text-align: center;
  font-family: "GowunDodum-Regular";
  font-size: 18px;
  margin-bottom: 10px;
}

.product_btns {
  text-align: center;
  margin-bottom: 30px;
}

.product_btns .active {
  background: var(--brown);
  border: 1px solid var(--brown);
  color: white;
}

.product_btns button {
  border: none;
  padding: 8px 30px;
  background: white;
  border: 1px solid #333;
  border-radius: 2rem;
  cursor: pointer;
}

.swiper_new,
.swiper_best {
  position: relative;
  margin: 0 10px;
  overflow: hidden;
}

.swiper-container {
  display: none;
}

.swiper-container.active {
  display: block;
}

.product_toggle .swiper-slide {
  width: 100%;
  overflow: hidden;
}

.product_toggle .swiper-slide img {
  width: 100%;
  display: block;
}

.pd_name {
  line-height: 1.4;
  font-size: 13px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pd_price {
  font-size: 14px;
  font-weight: 700;
  color: var(--green);
}

/* 프로모션 */

.promotion {
  margin-bottom: 130px;
}

.promotion h2 {
  text-align: center;
  font-family: "GowunDodum-Regular";
  font-size: 18px;
  margin-bottom: 10px;
}

.promotion .swiper-slide {
  display: flex;
}
.promotion .slide_text {
  width: 35%;
  background: var(--olive);
  color: white;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.only_slide .slide_text {
  background: var(--brown);
}
.best_slide .slide_text {
  background: var(--brown);
}

.pr_title {
  font-family: "GowunDodum-Regular";
  font-size: 18px;
  line-height: 1.25;
}

.pr_desc p {
  font-size: 13px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  line-height: 1.2;
  height: 2.4em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pr_bold {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.pr_more {
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
  color: white;
  margin-top: 10px;
  font-size: 15px;
}

.slide_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.promotion_slide {
  position: relative;
  overflow: hidden;
}

.pr_mobile_more {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  padding: 10px;
}

.promotion_slide {
  display: none;
}

.event_slide {
  display: flex;
}

/*  프로젝트  */

.project {
  margin-bottom: 60px;
}

.project h2 {
  font-family: "GowunDodum-Regular";
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.project_title {
  text-align: center;
}

.project_container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.project_title {
  position: absolute;
  width: 100%;
  top: 30px;
  text-align: center;
  font-size: 30px;
}

.project_title span {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.project_container:hover .inner_contents {
  opacity: 1;
}

.inner_contents {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(3px);
  transition: all 0.4s;
  overflow: hidden;
  height: 757px;
}

.inner_contents .content {
  flex: 1;
  height: calc(300px * 1.25);
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  position: relative;
}

.inner_contents .content:hover .content_cover {
  opacity: 1;
}

.content_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  color: white;
  opacity: 0;
  transition: all 0.3s;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
}

.inner_contents .content img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_container img {
  width: 100%;
}

.more {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  padding: 5px;
  border-bottom: 1px solid #333;
}

.mobile_project {
  margin: 0 20px 60px 20px;
}

.mobile_project h2 {
  position: absolute;
  z-index: 11;
  top: 30px;
  width: 100%;
  text-align: center;
  font-family: "GowunDodum-Regular";
  font-size: 18px;
  margin-bottom: 20px;
}

.mop_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mop_bg {
  width: 100%;
  filter: blur(3px);
  overflow: hidden;
}

.mop_bg img {
  width: 100%;
  display: block;
}

.mop_contents {
  position: absolute;
  width: 65%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  transition: all 1s 2s;
  /* opacity: 0; */
}

.mop_contents:hover .mop_cover {
  opacity: 1;
}

.mop_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  transition: all 0.4s;
}

.mop_contents img {
  width: 100%;
  display: block;
}

.mop_more {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
}

.mop_more a {
  display: inline-block;
}

.mop_more a span {
  padding: 5px;
  border-bottom: 1px solid #333;
}
/*  작가  */

.artist {
  margin-bottom: 100px;
}

.artist h2 {
  font-family: "GowunDodum-Regular";
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.artist p {
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.long_artist_pic {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}
.long_artist_pic img {
  width: 100%;
}

.artist_bg {
  position: relative;
  top: -10px;
}

.mobile_artist {
  max-width: 450px;
  margin: 0 auto;
}

.artist_bg > img {
  width: 100%;
  object-fit: cover;
  display: block;
  filter: blur(0.5rem);
  overflow: hidden;
}

.artist_bg .artist_pd {
  width: 32vw;
  height: 40vw;
  max-width: 140px;
  max-height: 175px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.artist_bg .artist_pd:nth-child(2) {
  top: 40%;
  left: 30%;
}
.artist_bg .artist_pd:nth-child(3) {
  top: 75%;
  left: 60%;
}

.artist_pd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  opacity: 0;
  backdrop-filter: blur(5px);
}

.artist_cover p {
  width: 70%;
  margin: 60% auto;
  transform: translateY(-50%);
  color: white;
}

.pd01:hover .artist_cover {
  opacity: 1;
}
.pd02:hover .artist_cover {
  opacity: 1;
}
.pd03:hover .artist_cover {
  opacity: 1;
}

.project {
  display: none;
}

/* 번더의 취향 */

.taste {
  margin-bottom: 60px;
}

.taste h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "GowunDodum-Regular";
}

.taste_btns {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.taste_btns button {
  height: 30px;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #333;
  background: transparent;
  padding: 0 20px;
  cursor: pointer;
}

.taste_btns .active {
  background: var(--brown);
  border: 1px solid var(--brown);
  color: white;
}

.taste .swiper-slide {
  width: 100%;
  overflow: hidden;
}

.taste .swiper-slide img {
  width: 100%;
  padding: 0 40px;
  display: block;
}

.taste .swiper-button-prev::after,
.taste .swiper-button-next::after {
  font-size: 24px;
}

.swiper_wellness,
.swiper_kitchen {
  position: relative;
  overflow: hidden;
}

.taste_text {
  padding: 0 40px;
}

.taste_text h4 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 3px;
}

.taste_text p {
  font-size: 12px;
  margin-bottom: 10px;
}

.taste_more {
  display: inline-block;
  color: #999;
  font-size: 12px;
  padding: 3px;
  border-bottom: 1px solid #999;
}
.category_title {
  font-weight: 700;
  font-size: 11px;
}

/* 공지사항 */

.notice {
  margin-bottom: 60px;
}

.notice_box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #333;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.notice_title {
  font-family: "GowunDodum-Regular";
  font-size: 20px;
  min-width: 90px;
  display: flex;
  align-items: center;
}

.notice_slide {
  flex: 1;
}

.notice_slide .slide {
  padding: 20px 0;
}

.notice_slide .slide a {
  height: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 20px;
}

.notice_slide .slide a span {
  min-width: 19px;
  font-size: 12px;
}

.notice_slide .slide p {
  flex: 1;
  font-size: 13px;
  overflow: hidden;
  width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pc_artist,
.pc_taste {
  display: none;
}

/* 포토리뷰 */
.photo_review {
  margin-bottom: 100px;
  max-width: 1260px;
}

.review_contents {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.rv_content {
  width: calc((100% - 30px) / 2);
  height: 40vw;
  background: #ccc;
  overflow: hidden;
}

.rv_content a {
  width: 100%;
  height: 100%;
}

.rv_content img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo_review h2 {
  text-align: center;
  font-family: "GowunDodum-Regular";
  font-size: 25px;
  margin-bottom: 20px;
}

@media all and (min-width: 450px) {
  .promotion .slide_text {
    display: flex;
  }
}
@media all and (min-width: 601px) {
  .product_toggle h2,
  .artist h2,
  .taste h2,
  .promotion h2 {
    font-size: 25px;
  }

  .pd_name {
    font-size: 15px;
  }
  .pd_price {
    font-size: 16px;
  }

  .artist > p {
    font-size: 16px;
  }

  /* 취향 */

  .taste .swiper-button-prev::after,
  .taste .swiper-button-next::after {
    font-size: 32px;
  }

  .category_title {
    font-size: 15px;
  }

  .taste_text h4 {
    font-size: 17px;
  }

  .taste_text p {
    font-size: 15px;
  }

  .taste_more {
    font-size: 15px;
  }
  .rv_content {
    width: calc((100% - 30px) / 3);
  }
  .rv_content:last-child {
    display: none;
  }
}
@media all and (min-width: 769px) {
  .mobile_artist {
    display: none;
  }

  /* pc작가  */
  .pc_artist {
    display: block;
  }

  .pc_artist .inner_container {
    display: flex;
    gap: 40px;
    padding: 20px;
  }

  .pc_artist_name {
    display: block;
    font-family: "GowunDodum-Regular";
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 15px;
    position: relative;
  }

  .artist_interview {
    flex: 1;
  }

  .artist_interview p {
    font-size: 13px;
    line-height: 1.8;
    color: #555;
  }

  .artist_product {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .artist_interview p {
    text-align: start;
  }

  .artist_product div {
    display: flex;
    gap: 10px;
  }

  .row_pd {
    width: 15vw;
    height: calc(15vw * 1.25);
    max-width: 180px;
    max-height: calc(180px * 1.25);
    background: #f3f3f3;
    position: relative;
  }

  .row_pd:hover .row_pd_cover {
    opacity: 1;
  }

  .row_pd img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .row_pd_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.4); */
    text-align: center;
    padding: 7px;
    opacity: 0;
    transition: all 0.5s;
    backdrop-filter: blur(3px);
  }
  .row_pd_cover a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: white; */
    font-size: 14px;
  }
  .row_pd_name {
    font-weight: 700;
    margin-bottom: 10px;
  }
  .row_pd_more {
    padding: 3px;
    border-bottom: 1px solid #333;
    transition: all 0.3s;
  }

  .row_pd_more:hover {
    font-weight: 700;
  }
  .row2 {
    margin: 15px 0;
    overflow: hidden;
    transform: translateX(50px);
  }

  .inner_container {
    overflow: hidden;
  }

  .interview_box {
    max-height: 580px;
    /* 이부분 스크립트 걸어줄것 */
    overflow: hidden;
    scroll-behavior: smooth;
    text-overflow: ellipsis;
  }

  .taste .swiper-button-next,
  .taste .swiper-button-prev {
    display: none;
  }

  .artist_more {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .artist_more a {
    width: fit-content;
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }

  .pr_mobile_more {
    display: none;
  }

  .rv_content {
    width: calc((100% - 30px) / 4);
    height: 20vw;
    max-height: 300px;
    background: #ccc;
  }
  .rv_content:last-child {
    display: block;
  }

  .mobile_project {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  /* 취향 */

  .taste {
    display: none;
  }

  .pc_taste {
    display: block;
    margin-bottom: 60px;
  }

  .taste_toggle_box {
    display: flex;
  }
  .taste_text_box {
    min-width: 200px;
    background: var(--ivory);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(1px);
  }

  .bunder_taste {
    display: inline-block;
    padding: 3px;
    border-bottom: 1px solid #999;
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .current_title {
    display: block;
    font-family: "GowunDodum-Regular";
    font-size: 25px;
  }

  .taste_toggle_btns button {
    display: block;
    width: 80%;
    padding: 8px 10px;
    border: none;
    border-radius: 2rem;
    background: white;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .taste_toggle_btns .active {
    background: rgb(133, 118, 85);
    color: white;
  }

  .taste_article_box {
    flex: 1;
    padding: 20px;
    display: none;
    gap: 20px;
    border: 1px solid rgb(156, 146, 134);
  }

  .taste_article_box.active {
    display: flex;
  }

  .wellness_article img,
  .kitchen_article img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .article_img {
    margin-bottom: 10px;
  }

  .pc_taste_text p {
    font-size: 14px;
  }

  .pc_taste_text .category_title {
    font-size: 13px;
  }
}
@media all and (min-width: 1025px) {
  .product_toggle h2,
  .promotion h2,
  .artist h2,
  .taste h2 {
    font-size: 28px;
  }

  .header {
    display: block;
  }

  section {
    max-width: 1260px;
    margin: 0 auto;
  }

  .main {
    margin: 0;
    margin-bottom: 60px;
  }

  .mobile_project {
    display: none;
  }

  .project {
    display: block;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .project h2 {
    font-family: "GowunDodum-Regular";
    font-size: 28px;
    margin-bottom: 10px;
  }

  .artist > p {
    font-size: 16px;
  }

  .taste_text_box {
    min-width: 300px;
  }

  .pr_slide_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .pr_slide_wrap .promotion_slide {
    display: flex;
    width: calc((100% - 10px) / 2);
  }

  .promotion .slide_text {
    width: 40%;
  }

  .promotion .swiper-button-prev {
    left: 32%;
  }
  .promotion .swiper-pagination.swiper-pagination-bullets {
    left: 15%;
  }
  .promotion .swiper-button-prev::after,
  .promotion .swiper-button-next::after {
    font-size: 32px;
  }
}
@media all and (min-width: 1261px) {
  .main {
    max-width: none;
  }
}
