.order_section {
  margin-bottom: 60px;
}

.pd_img {
  width: 100%;
  margin-bottom: 30px;
}
.pd_img img {
  width: 100%;
  display: block;
}

.order_box {
  padding: 0 20px;
}

.order_title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.order_option_option {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pick_color {
  margin-bottom: 30px;
}

.order_option_title {
  padding: 5px 0;
  min-width: 70px;
  font-size: 14px;
}

.order_option_content select {
  padding: 5px;
  width: 90%;
}

.item_info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.item_info > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.delete_item i {
  font-size: 14px;
}
.item_name {
  font-size: 14px;
}
.item_option {
  font-size: 13px;
  color: #999;
}
.delete_item {
  cursor: pointer;
}

.quantity_change button {
  background: transparent;
  border: none;
  font-size: 17px;
  color: #999;
  padding: 5px;
  cursor: pointer;
}

.current_quantity {
  width: 60px;
  display: inline-block;
  padding: 3px 10px;
  font-weight: 700;
  margin-bottom: 10px;
  border: none;
  outline: 1px solid #ccc;
  font-size: 15px;
  font-weight: 400;
}

.total_price_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.total_price {
  font-size: 17px;
  font-weight: 700;
  color: var(--green);
}

.total_price::after {
  content: "원";
  font-size: 14px;
  color: #333;
  margin-left: 5px;
}

.order_btns {
  display: flex;
  gap: 10px;
}

.order_btns div {
  flex: 1;
  padding: 10px;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.order_btns .order {
  flex: 2;
  border: none;
  background: var(--green);
  color: white;
  font-size: 15px;
}

/* 디테일 */
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(2px);
  background: white;
  border-bottom: 1px solid #ccc;
}

.nav_bar div a {
  padding: 7px 15px;
  font-size: 14px;
}

.nav_bar {
  border-bottom: 1px solid #ccc;
}

.nav_bar .go_review {
  display: flex;
}

.go_review span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: var(--green);
  border-radius: 50%;
  color: white;
  font-size: 11px;
  text-align: center;
  line-height: 17px;
  margin-left: 2px;
}

.detail_img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: all 0.4s;
}

.detail_img.on {
  height: 400px;
}

.detail_content img {
  width: 100%;
  display: block;
}

.nav_bar div.on {
  border-bottom: 2px solid var(--green);
  transform: translateY(2px);
}

.open {
  width: 100%;
  padding: 13px;
  border: none;
  color: white;
  background: var(--green);
  cursor: pointer;
}

/* 후기 */

.total_rate {
  margin: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.rate_title {
  font-size: 14px;
  margin-right: 10px;
}

.rate_number {
  font-weight: 700;
}

.rate_amount {
  font-size: 13px;
}

.rate_amount::before {
  content: "(총 ";
}

.rate_amount::after {
  content: "개의 리뷰)";
}

.write_review {
  display: block;
  padding: 10px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background: #333;
  color: white;
}

.review_box {
  padding-bottom: 10px;
  margin: 20px;
  border-bottom: 1px solid #ccc;
}

.review_writer {
  margin-bottom: 20px;
}

.writer_name_title {
  font-size: 14px;
  margin-right: 10px;
}

.writer_name {
  font-size: 14px;
}

.review_img img {
  display: inline-block;
  width: 100px;
  height: 100px;
}

@media all and (min-width: 601px) {
  .order_section {
    max-width: 1260px;
    margin: 0 auto;
    margin: 60px auto;
    display: flex;
    gap: 20px;
  }

  .order_option_title {
    padding: 5px 0;
    min-width: 80px;
    font-size: 16px;
  }

  .order_option_content select {
    width: 100%;
  }

  .pd_img {
    flex: 1;
    padding: 20px;
  }

  .order_box {
    flex: 1;
  }

  .detail {
    max-width: 1260px;
    margin: 0 auto;
  }

  .detail_content {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }

  .detail_content img {
    display: block;
    width: 100%;
  }
}
@media all and (min-width: 769px) {
}
@media all and (min-width: 1025px) {
}
@media all and (min-width: 1261px) {
}
